<section class="title_container">
  <section class="intro_msg">
    <h1>Welcome to Book Club!</h1>
    <p>We have a variety of books for you to browse through.</p>
    <p>You can sort our books in a variety of ways,<br/>
      or check out the authors, the reviews, or the reviewers.</p>
    <p>And feel free to leave your own review!</p>
    <p>Enjoy!</p>
  </section>
</section>

<section class="splash_image">
  <img src="https://martijnscheijbeler.com/wp-content/uploads/2018/01/books.jpg" alt="welcome image" />
</section>

<section class="splash_footer">
  <footer>
    <p>This is a pair project for the Turing School of Software and Design's Backend Engineering Module 2 program.<br/>
    The project partners are:<br/>
    <%= link_to "Deonte Cooper", "https://github.com/djc00p" %><br/>
    <%= link_to "Earl Stephens", "https://github.com/earl-stephens" %>
  </footer>
</section>
