/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar_container {
   display: flex;
   flex-direction: row;
   background-color: rosybrown;
   height: 30px;
   justify-content: flex-end;
 }
 .welcome_link {
   margin-right: 25px;
   margin-top: 5px;
 }
 .books_link {
   margin-top: 5px;
   margin-left: 25px;
   margin-right: 25px;
 }
 #body_of_doc {
   display: flex;
   flex-direction: column;
   background-color: burlywood;
 }
.title_container {
  display: flex;
  background-color: burlywood;
  justify-content: center;
  flex: 1;
  margin-top: -30px;
}
.intro_msg {
  text-align: center;
  width: 100%
}
.intro_msg h1 {
  font-size: 25px;
}
.splash_image {
  display: flex;
}
.splash_image img {
  width: 100%;
}
.splash_footer {
  display: flex;
  background-color: burlywood;
  justify-content: center;
}
.splash_footer footer {
  text-align: center;
}
.sorting_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: peachpuff;
}
.rating_container {
  display: flex;
  flex-direction: column;
}
.pages_container {
  display: flex;
  flex-direction: column;
}
.reviews_container {
  display: flex;
  flex-direction: column;
}
.statistics_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: peachpuff;

}
#highest_rated_books {
  display: flex;
  flex-direction: column;
}
#highest_rated_books ol {
  padding-inline-start: 0px;
}
#highest_rated_books h1 {
  margin-bottom: 0px;
}
#worst_rated_books {
  display: flex;
  flex-direction: column;
}
#worst_rated_books ol {
  padding-inline-start: 0px;
}
#worst_rated_books h1 {
  margin-bottom: 0px;
}
#users_with_most_reviews {
  display: flex;
  flex-direction: column;
}
#users_with_most_reviews ol {
  padding-inline-start: 0px;
}
#review_sort {
  text-align: center;
}

#users_with_most_reviews h1 {
  margin-bottom: 0px;
}
.new_book_link {
  text-align: center;
}
.book_index_container {
  display: flex;
  flex-flow: wrap;
}
.book_info_container {
  display: flex;
  width: 30%;
  border: 1px solid black;
  margin: 15px;
}
.book_info_container img {
  height: 150px;
  width: 100px;

}.book_info_container ul {
  list-style: none;
}
#review {
  border: 1px solid black;
  margin: 15px 0;
  padding-bottom: 10px;
}
.show_headings {
  text-align: center;
}
.book_show_header {
  text-align: center;
}
.top_3 {
  display: flex;
  justify-content: space-around;
}
.bottom_3 {
  display: flex;
  justify-content: space-around;
}
.link_to_review {
  text-align: center;
  font-size: 25px;
}
.review_info {
  border: 2px solid black;
  margin: 15px 0;
  padding-bottom: 10px;
}
#new_book_form {
  margin-left: 20px;
}
